html, body, #root, #app {
    height: 100%;
    overflow: auto;
}

.article-description {
    margin-bottom: 0;
}

/* Add bottom spacing to all except the last */
.resource-group {
    margin-bottom: 3%;
}